<h1>Add Event</h1>
<form method="post">
    <input class="form-control" type="text" name="name" placeholder="event name"/>
    <input class="form-control" type="text" name="description" placeholder="description"/>
    <input class="btn btn-primary" type="submit" value="Add Event"/>
</form>
